<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
    <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>de.hdm.clicker.server.VerwaltungImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/clicker/verwaltung</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>greetServlet3</servlet-name>
    <servlet-class>de.hdm.clicker.server.ImageUploadImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet3</servlet-name>
    <url-pattern>/clicker/upload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>greetServlet4</servlet-name>
    <servlet-class>de.hdm.clicker.server.ImageDownloadImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet4</servlet-name>
    <url-pattern>/clicker/download</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>greetServlet5</servlet-name>
    <servlet-class>de.hdm.clicker.server.ImageDownloadPlayQuizImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet5</servlet-name>
    <url-pattern>/clicker/xcxc</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>clicker.html</welcome-file>
  </welcome-file-list>
  
</web-app>